<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa repellendus molestiae sit cum soluta quis, natus delectus nobis facere animi eum voluptates ipsam consequatur. Deleniti quae molestiae atque eaque consectetur.
Amet molestias quisquam mollitia assumenda numquam. Consequuntur quas temporibus excepturi pariatur, quidem dolor, dicta quaerat sunt minus autem ipsa quis officia iusto omnis aperiam, modi laborum! At reprehenderit facere nemo.
Laboriosam suscipit tempora culpa. Voluptates numquam ipsa perspiciatis, aperiam obcaecati, libero dolorem vel autem asperiores quaerat aspernatur? Nulla quos a blanditiis delectus alias eaque incidunt expedita labore quibusdam. Nemo, dolor?
Eius quia, suscipit incidunt quae voluptas perferendis a temporibus mollitia corporis natus voluptatum enim consequuntur excepturi expedita impedit pariatur eum sit dicta at, iste cum fugiat maxime! Praesentium, doloremque repellendus!
Praesentium, nesciunt eius! Placeat sint blanditiis, atque voluptatum velit quod mollitia nulla sapiente laudantium nostrum expedita cum explicabo officia sit rerum perspiciatis eos tempora quasi beatae magni amet earum cumque!</p>
