<!-- <h1>Editar {{ heroe.nombre | uppercase }}</h1> -->
<hr>
<hr>
<br>
<form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <div class="form-group row">
        <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input formControlName="nombre" type="text" class="form-control" id="inputNombre" placeholder="Ingrese nombre">
            <div class="alert alert-danger" role="alert" *ngIf="(nombre.touched || submitted)&& nombre.errors ">
                <div *ngIf="nombre.errors?.required">nombre es requerido</div>
                <div *ngIf="nombre.errors?.minlength"> nombre mínimo de 3 caracteres</div>
            </div>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Casa</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" formControlName="casa" id="gridRadios1" type="radio" name="casa" value="Marvel" checked>
                    <label class="form-check-label active" for="gridRadios1">
              Marvel
            </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" formControlName="casa" id="gridRadios2" type="radio" name="casa" value="DC">
                    <label class="form-check-label" for="gridRadios2">
              DC
            </label>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <label for="customFileLang" class="col-sm-2 col-form-label">Imagen</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input type="file" (change)="onFileSelect($event)" formControlName="img" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">seleccionar Archivo</label>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="(img.touched || submitted) && img.errors">
                <div *ngIf="img.errors?.required">debes seleccionar un archivo</div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Fecha aparición</label>
        <div class="col-10">
            <input class="form-control" formControlName="aparicion" type="date" id="example-date-input">
            <div class="alert alert-danger" role="alert" *ngIf="(aparicion.touched || submitted) && aparicion.errors">
                <div *ngIf="aparicion.errors?.required">ingresa fecha de aparición</div>
            </div>
        </div>
    </div>
    <div class="form-group row" style="margin-bottom: 4rem;">
        <label for="bioTextarea" class="col-sm-2 col-form-label">Biografía</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <textarea placeholder="Ingrese biografía..." formControlName="bio" class="form-control" id="bioTextarea" rows="3"></textarea>
                <div class="alert alert-danger" role="alert" *ngIf="(bio.touched || submitted) && bio.errors">
                    <div *ngIf="bio.errors?.required">ingresa fecha de aparición</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <div class="alert alert-success" *ngIf="submitted && success" role="alert">
                ¡cambios guardados correctamente!
            </div>
        </div>
    </div>
</form>