<h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img class="img fluid card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="alert alert-success" *ngIf="deleted" role="alert">
            ¡héroe eliminado correctamente!
        </div>
        <br><br>
        <!-- EDITAR -->
        <a class="btn btn-primary btn-block" *ngIf="!deleted" [routerLink]="['/editar-heroe', this.idHeroe]">Editar</a>
        <!-- ELIMINAR -->
        <button type="button" *ngIf="!deleted" class="btn btn-danger btn-block" (click)="eliminarHeroe()">Eliminar</button>
        <!--REGRESAR-->
        <a class="btn btn-outline-primary btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img *ngIf="heroe.casa == 'Marvel'" class="img-logo card-img-top img-fluid" [src]="'assets/img/Marvel.jpg'" [alt]="heroe.casa">
            <img *ngIf="heroe.casa == 'DC'" class="img-logo card-img-top img-fluid" [src]="'assets/img/DC.jpg'" [alt]="heroe.casa">
        </div>
    </div>
</div>